<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Thymeleaf Layout works!</h1>
	</header>
	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>
	<footer>
		<p>My footer</p>
		<p layout:fragment="custom-footer">Custom footer here</p>
	</footer>
</body>
</html>