# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'oracle' # See 'Supported distributions' for available options
        java-version: 17
    - name: Build externalwar with Maven
      run: mvn -B package --file externalwar/pom.xml
    - name: Build log4jlogging with Maven
      run: mvn -B package --file log4jlogging/pom.xml
    - name: Build logbacklogging with Maven
      run: mvn -B package --file logbacklogging/pom.xml
    - name: Build login-spring-security with Maven
      run: mvn -B package --file login-spring-security/pom.xml
    - name: Build restendpointget with Maven
      run: mvn -B package --file restendpointget/pom.xml
    - name: Build restendpointpost with Maven
      run: mvn -B package --file restendpointpost/pom.xml
    - name: Build sample-rest with Maven
      run: mvn -B package --file sample-rest/pom.xml
    - name: Build spring-boot-web with Maven
      run: mvn -B package --file spring-boot-web/pom.xml
    - name: Build spring-course with Maven
      run: mvn -B package --file spring-course/pom.xml
    - name: Build spring-micrometer with Maven
      run: mvn -B package --file spring-micrometer/pom.xml
    - name: Build swagger-documentation with Maven
      run: mvn -B package --file swagger-documentation/pom.xml
